# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
absl-py=0.12.0=pypi_0
apache-beam=2.28.0=pypi_0
argon2-cffi=20.1.0=pypi_0
astunparse=1.6.3=pypi_0
async-generator=1.10=pypi_0
attrs=20.3.0=pypi_0
avro-python3=1.9.2.1=pypi_0
backcall=0.2.0=pypi_0
blas=1.0=mkl
bleach=3.3.0=pypi_0
ca-certificates=2021.4.13=haa95532_1
cachetools=4.2.1=pypi_0
certifi=2020.12.5=py38haa95532_0
cffi=1.14.5=pypi_0
chardet=4.0.0=pypi_0
colorama=0.4.4=pypi_0
colorthief=0.2.1=pypi_0
comtypes=1.1.9=pypi_0
contextlib2=0.6.0.post1=pypi_0
crcmod=1.7=pypi_0
cycler=0.10.0=pypi_0
cython=0.29.23=pypi_0
dataclasses=0.6=pypi_0
decorator=4.4.2=pypi_0
defusedxml=0.7.1=pypi_0
dill=0.3.1.1=pypi_0
dm-tree=0.1.6=pypi_0
docopt=0.6.2=pypi_0
docutils=0.17.1=pypi_0
easyocr=1.3.0.1=pypi_0
entrypoints=0.3=pypi_0
fastavro=1.4.0=pypi_0
flatbuffers=1.12=pypi_0
future=0.18.2=pypi_0
gast=0.3.3=pypi_0
gin-config=0.4.0=pypi_0
google-api-core=1.26.3=pypi_0
google-api-python-client=2.2.0=pypi_0
google-auth=1.28.1=pypi_0
google-auth-httplib2=0.1.0=pypi_0
google-auth-oauthlib=0.4.4=pypi_0
google-cloud-bigquery=2.13.1=pypi_0
google-cloud-core=1.6.0=pypi_0
google-crc32c=1.1.2=pypi_0
google-pasta=0.2.0=pypi_0
google-resumable-media=1.2.0=pypi_0
googleapis-common-protos=1.53.0=pypi_0
grpcio=1.32.0=pypi_0
h5py=2.10.0=pypi_0
hdf5=1.10.4=h7ebc959_0
hdfs=2.6.0=pypi_0
httplib2=0.17.4=pypi_0
icc_rt=2019.0.0=h0cc432a_1
idna=2.10=pypi_0
imageio=2.9.0=pypi_0
importlib-metadata=4.0.1=pypi_0
importlib-resources=5.1.2=pypi_0
intel-openmp=2021.2.0=haa95532_616
ipykernel=5.5.3=pypi_0
ipython=7.22.0=pypi_0
ipython-genutils=0.2.0=pypi_0
ipywidgets=7.6.3=pypi_0
jedi=0.18.0=pypi_0
jinja2=2.11.3=pypi_0
joblib=1.0.1=pypi_0
jpeg=9b=hb83a4c4_2
jsonschema=3.2.0=pypi_0
jupyter=1.0.0=pypi_0
jupyter-client=6.1.12=pypi_0
jupyter-console=6.4.0=pypi_0
jupyter-core=4.7.1=pypi_0
jupyterlab-pygments=0.1.2=pypi_0
jupyterlab-widgets=1.0.0=pypi_0
kaggle=1.5.12=pypi_0
keras-preprocessing=1.1.2=pypi_0
keyring=23.0.1=pypi_0
kiwisolver=1.3.1=pypi_0
libopencv=4.0.1=hbb9e17c_0
libpng=1.6.37=h2a8f88b_0
libtiff=4.1.0=h56a325e_1
lvis=0.5.3=pypi_0
lxml=4.6.3=pypi_0
lz4-c=1.9.3=h2bbff1b_0
markdown=3.3.4=pypi_0
markupsafe=1.1.1=pypi_0
matplotlib=3.4.1=pypi_0
mistune=0.8.4=pypi_0
mkl=2021.2.0=haa95532_296
mkl-service=2.3.0=py38h2bbff1b_1
mkl_fft=1.3.0=py38h277e83a_2
mkl_random=1.2.1=py38hf11a4ad_2
mock=2.0.0=pypi_0
nbclient=0.5.3=pypi_0
nbconvert=6.0.7=pypi_0
nbformat=5.1.3=pypi_0
nest-asyncio=1.5.1=pypi_0
networkx=2.5.1=pypi_0
notebook=6.3.0=pypi_0
numpy=1.19.5=pypi_0
numpy-base=1.20.1=py38haf7ebc8_0
oauth2client=4.1.3=pypi_0
oauthlib=3.1.0=pypi_0
object-detection=0.1=pypi_0
opencv=4.0.1=py38h2a7c758_0
opencv-python=4.5.1.48=pypi_0
openssl=1.1.1k=h2bbff1b_0
opt-einsum=3.3.0=pypi_0
packaging=20.9=pypi_0
pandas=1.2.4=pypi_0
pandocfilters=1.4.3=pypi_0
parso=0.8.2=pypi_0
pbr=5.5.1=pypi_0
pickleshare=0.7.5=pypi_0
pillow=8.2.0=pypi_0
pip=21.0.1=py38haa95532_0
pkginfo=1.7.0=pypi_0
prometheus-client=0.10.1=pypi_0
promise=2.3=pypi_0
prompt-toolkit=3.0.18=pypi_0
proto-plus=1.18.1=pypi_0
protobuf=3.15.8=pypi_0
psutil=5.8.0=pypi_0
py-cpuinfo=8.0.0=pypi_0
py-opencv=4.0.1=py38he44ac1e_0
pyarrow=2.0.0=pypi_0
pyasn1=0.4.8=pypi_0
pyasn1-modules=0.2.8=pypi_0
pycocotools=2.0.2=pypi_0
pycparser=2.20=pypi_0
pydot=1.4.2=pypi_0
pygments=2.8.1=pypi_0
pymongo=3.11.3=pypi_0
pyparsing=2.4.7=pypi_0
pypiwin32=223=pypi_0
pyqt5=5.15.4=pypi_0
pyqt5-qt5=5.15.2=pypi_0
pyqt5-sip=12.9.0=pypi_0
pyrsistent=0.17.3=pypi_0
python=3.8.8=hdbf39b2_4
python-bidi=0.4.2=pypi_0
python-dateutil=2.8.1=pypi_0
python-slugify=4.0.1=pypi_0
pyttsx3=2.90=pypi_0
pytz=2021.1=pypi_0
pywavelets=1.1.1=pypi_0
pywin32=300=pypi_0
pywin32-ctypes=0.2.0=pypi_0
pywinpty=0.5.7=pypi_0
pyyaml=5.4.1=pypi_0
pyzmq=22.0.3=pypi_0
qtconsole=5.0.3=pypi_0
qtpy=1.9.0=pypi_0
readme-renderer=29.0=pypi_0
requests=2.25.1=pypi_0
requests-oauthlib=1.3.0=pypi_0
requests-toolbelt=0.9.1=pypi_0
rfc3986=1.4.0=pypi_0
rsa=4.7.2=pypi_0
scikit-image=0.18.1=pypi_0
scikit-learn=0.24.1=pypi_0
scipy=1.6.2=pypi_0
send2trash=1.5.0=pypi_0
sentencepiece=0.1.95=pypi_0
seqeval=1.2.2=pypi_0
setuptools=52.0.0=py38haa95532_0
six=1.15.0=py38haa95532_0
sqlite=3.35.4=h2bbff1b_0
tensorboard=2.4.1=pypi_0
tensorboard-plugin-wit=1.8.0=pypi_0
tensorflow=2.4.1=pypi_0
tensorflow-addons=0.12.1=pypi_0
tensorflow-datasets=4.2.0=pypi_0
tensorflow-estimator=2.4.0=pypi_0
tensorflow-hub=0.12.0=pypi_0
tensorflow-metadata=0.30.0=pypi_0
tensorflow-model-optimization=0.5.0=pypi_0
termcolor=1.1.0=pypi_0
terminado=0.9.4=pypi_0
testpath=0.4.4=pypi_0
text-unidecode=1.3=pypi_0
tf-models-official=2.4.0=pypi_0
tf-slim=1.1.0=pypi_0
threadpoolctl=2.1.0=pypi_0
tifffile=2021.4.8=pypi_0
torch=1.8.1=pypi_0
torchvision=0.9.1=pypi_0
tornado=6.1=pypi_0
tqdm=4.60.0=pypi_0
traitlets=5.0.5=pypi_0
twine=3.4.1=pypi_0
typeguard=2.12.0=pypi_0
typing-extensions=3.7.4.3=pypi_0
uritemplate=3.0.1=pypi_0
urllib3=1.26.4=pypi_0
vc=14.2=h21ff451_1
vs2015_runtime=14.27.29016=h5e58377_2
wcwidth=0.2.5=pypi_0
webcolors=1.11.1=pypi_0
webencodings=0.5.1=pypi_0
werkzeug=1.0.1=pypi_0
wheel=0.36.2=pyhd3eb1b0_0
widgetsnbextension=3.5.1=pypi_0
wincertstore=0.2=py38_0
wrapt=1.12.1=pypi_0
xz=5.2.5=h62dcd97_0
zipp=3.4.1=pypi_0
zlib=1.2.11=h62dcd97_4
zstd=1.4.9=h19a0ad4_0
flickrapi=pypi_0
